{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between align-items-center">
            <h6>Client list</h6>
            {% if user.is_superuser %}
              <a href="{% url 'crm:client-create' %}" class="btn bg-gradient-primary btn-sm mb-0">
                <i class="fas fa-plus me-2"></i>Add client
              </a>
            {% endif %}
          </div>

          <div class="card-body px-4 pt-3 pb-0">
            <form method="get" action="">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" name="license_plate" class="form-control"
                           placeholder="Search by license plate..."
                           value="{{ request.GET.license_plate }}">

                    <button class="btn btn-outline-primary mb-0" type="submit" id="button-addon2">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Car / License plate
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Owner</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone
                    number
                  </th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
                </thead>
                <tbody>
                {% for client in client_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-3 py-1">
                        <div>
                          <div
                              class="icon icon-sm icon-shape bg-gradient-faded-dark shadow text-center border-radius-md me-3 d-flex align-items-center justify-content-center">
                            <i class="fas fa-car text-white opacity-10"></i>
                          </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">
                            <a href="{{ client.get_absolute_url }}" class="text-dark">{{ client.model }}</a>
                          </h6>
                          <p class="text-xs text-secondary mb-0">{{ client.license_plate }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0">{{ client.owner_name }}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-secondary text-xs font-weight-bold">{{ client.phone_number }}</span>
                    </td>
                    <td class="align-middle text-end px-4">
                      {% if user.is_superuser %}
                        <a href="{% url 'crm:client-update' pk=client.id %}"
                           class="text-secondary font-weight-bold text-xs me-3" data-toggle="tooltip" title="Edit">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{% url 'crm:client-delete' pk=client.id %}"
                           class="text-danger font-weight-bold text-xs" data-toggle="tooltip" title="Delete">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center py-4">
                      <p class="text-muted">No clients</p>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% if is_paginated %}
            <div class="card-footer pt-0">
              {% include "includes/pagination.html" %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
